name: Build & Push Docker Image
on:
  push:
    branches:
      - dev
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/rideshare:dev
          build-args: |
            VITE_CF_SITEKEY=${{ secrets.VITE_CF_SITEKEY }}
            VITE_DOMAIN=${{ secrets.VITE_DOMAIN }}
            VITE_DOMAIN_PORT=${{ secrets.VITE_DOMAIN_PORT }}